* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-sm-12 {
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.col-sm-12::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.col-sm-12 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main-container {
    min-height: 50vh;
}

.search-button {
    outline: none;
    /* border: 1px solid rgba(0, 0, 0, .4); */
    border: none;
    background-color: #5271ff;
    border-radius: 50%;
    height: 80%;
    aspect-ratio: 1;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color: white;
}

input[type="text"] {
    height: 55px;
}

.resi-value {
    background-color: #e8e6e6;
}

.modal-body {
    outline: none;
}

.modal-content {
    min-width: 300px !important;
    box-shadow: 0 0 23px -2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.16) inset;
    -moz-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.1) inset;
    /* border: 5px solid rgba(100, 100, 100, 1); */
    border-radius: 10px;
}

.modal-close-button {
  top: 8%;
  right: 40px;  
}

.modal-logged-in-close-button {
  top: 1%;
  right: 3%;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
}

[class*="resi-status"] {
  border: 1px solid rgb(152, 152, 152);
  width: 9rem;
}

.resi-background-status-pending,
.resi-status-pending {
  background-color: rgb(255, 22, 22) !important;
  color: white;
}

.resi-background-status-on-progress,
.resi-status-on-progress {
  background-color: rgb(2, 62, 245) !important;
  color: white;
}

.resi-background-status-finished,
.resi-status-finished {
  background-color: rgba(2, 255, 49, 1) !important;
}

.resi-status-pending {
  padding: .1rem 1rem;
  border-radius: 7px;
  color: white;
}

.resi-status-finished {
  padding: .1rem 1rem;
  border-radius: 7px;
}

.resi-status-on-progress {
  padding: .1rem 1rem;
  border-radius: 7px;
  color: white;
}

@media screen and (max-width: 400px) {
    body {
        /* background-color: olive; */
    }
}
