* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    min-height: 50vh;
}

.search-button {
    outline: none;
    /* border: 1px solid rgba(0, 0, 0, .4); */
    border: none;
    background-color: #5271ff;
    border-radius: 50%;
    height: 80%;
    aspect-ratio: 1;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color: white;
}

input[type="text"] {
    height: 55px;
}

.resi-value {
    background-color: #e8e6e6;
}

.modal-body {
    outline: none;
}

.modal-content {
    box-shadow: 0 0 23px -2px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.36) inset;
    -moz-box-shadow: 4px 4px 23px -2px rgba(0, 0, 0, 0.2) inset;
    /* border: 5px solid rgba(100, 100, 100, 1); */
    border-radius: 10px;
}

.modal-close-button {
  top: 8%;
  right: 40px;
}

@media screen and (max-width: 400px) {
    body {
        /* background-color: olive; */
    }
}
