table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: auto; 
    word-wrap:break-word;
}
.button-delete{
    background-color: #df4759;
    color: white !important;
}